{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} :: {{ block.super }} {% endblock title %}

{% block about_me %}
{% include 'inc/_about_me.html' %}
{% endblock about_me %}

{% block content %}
<section class="bg-text-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-text">
                    <h3>Photographer's Blog</h3>
                    <p>Hello. I'm Carolyn Crawford and i'm a photographer.</p>
                    <p>This is my blog about my work and travel. In the course of my work I travel all over the world. Over the years, I have made sure that even in the most remote corners of the planet, you can find and capture amazing landscapes or events. Here I talk about my favorite places and show you pictures of them. I invite you to join me.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-post-area">
    <div class="container">
        <div class="row">
            <div class="blog-post-area-style">
                <div class="col-md-12">
                    <div class="single-post-big">
                        <div class="big-image" style="overflow: hidden;">
                            <img src="{{ popular_post.photo }}" alt="{{ popular_post.title }}" height='400'>
                        </div>
                        <div class="big-text">
                            <h3><a href="{{ popular_post.get_absolute_url }}">{{ popular_post.title }}</a></h3>
                            <p>{{ popular_post.content|truncatewords_html:20|safe }}</p>
                            <h4><span class="date">{{ popular_post.created_at|date:"d E Y" }}</span><span class="author">Posted By: <span class="author-name">{{ popular_post.author }}</span></span>
                            </h4>
                        </div>
                    </div>
                </div>

                {% for post in posts %}
                <div class="col-md-3">
                    <div class="single-post" style="overflow: hidden;">
                        {% if post.photo %}
                        <img src="{{ post.photo }}" alt="{{ post.title }}" height='200' width=auto>
                        {% else %}
                        <img src="https://picsum.photos/id/1060/300/201/?blur=2" alt="{{ post.title }}">
                        {% endif %}
                        <h3><a href="{{ post.get_absolute_url }}"> {{ post.title }} </a></h3>
                        <h4><span>Posted By: <span class="author-name">{{ post.author }}</span></span>
                        </h4>
                        {{ post.content|truncatewords_html:20|safe }}
                        <h4><span>{{ post.created_at|date:"d E Y" }}</span></h4>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    
    {% include 'inc/_paginator.html' %}

</section>
{% endblock content %}