{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} :: {{ block.super }} {% endblock title %}

{% block content %}
<section class="bg-text-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-text">
                    <h3>Photographer Blog</h3>
                    <p>Hello. I'm Carolyn Crawford and i'm a photographer.</p>
                    <p>This is my blog about my work and travel. In the course of my work I travel all over the world. Over the years, I have made sure that even in the most remote corners of the planet, you can find and capture amazing landscapes or events. Here I post my favorite works. I invite you to join me.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-post-area">
    <div class="container">
        <div class="row">
            <div class="blog-post-area-style">
                <div class="col-md-12">
                    <div class="single-post-big">
                        <div class="big-image">
                            <img src="https://picsum.photos/id/1060/300/201/?blur=2" alt="">
                        </div>
                        <div class="big-text">
                            <h3><a href="#">Post Title Goes Here.</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            <h4><span class="date">25 February 2017</span><span class="author">Posted By: <span class="author-name">Kabbo Liate</span></span>
                            </h4>
                        </div>
                    </div>
                </div>

                {% for post in posts %}
                <div class="col-md-3">
                    <div class="single-post">
                        {% if post.photo %}
                        <img src="{{ post.photo }}" alt="{{ post.title }}" height='200'>
                        {% else %}
                        <img src="https://picsum.photos/id/1060/300/201/?blur=2" alt="{{ post.title }}">
                        {% endif %}
                        <h3><a href="{{ post.get_absolute_url }}"> {{ post.title }} </a></h3>
                        <h4><span>Posted By: <span class="author-name">{{ post.author }}</span></span>
                        </h4>
                        {{ post.content|truncatewords_html:20|safe }}
                        <h4><span>{{ post.created_at|date:"d E Y" }}</span></h4>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    
    {% include 'inc/_paginator.html' %}

</section>
{% endblock content %}